.galeria__container {
    margin-bottom: 2rem;
    
}
.galeria__cards__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: content-box;
    row-gap: 5rem;
    column-gap: 5rem;
}

.galeria-card {
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

.galeria__imagem {
    width:100%;
    object-fit: contain;
    transition:  transform 0.25s ease-in-out;
}

.galeria__imagem:hover {
    transform: scale(1.1);
}

.galeria__modal {
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.galeria__modal-x {
    position: absolute;
    top: 50px;  
    right: 100PX;
    font-size: 80px;
    cursor: pointer; 
}

.galeria__modal-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.galeria__container-modal {
    width: 80%;
    height: 80%;
}