.video__titulo__container{
    display: flex;
    height: 100px;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.linha {
    width: 28%;
    border-bottom: 3px solid var(--cor-linha);
}

.video__titulo {
    text-align: center;
    font-size: var(--tamanho-fonte-titulo);
    font-family: var(--font-poppins);
    font-weight: 800;
}

.galeria__titulo {
    text-align: center;
    font-size: var(--tamanho-fonte-titulo);
    font-family: var(--font-poppins);
    font-weight: 800;
}

@media screen and (max-width: 576px) {
    .linha {
        width: 18%;
    }
}