.video-youtube {
    width: 80%;
    height:80%;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    .video__cards-card {
        width: 400px;
        height: 300px;
    }

}

@media screen and (max-width:768px) {
    .video__cards-card {
        width: 330px;
        height: 300px;
    }

    .video__container {
        margin-top: 0;
        margin-bottom: 0;
    }
}